profiles {
        process.container = 'gcr.io/spark-on-kubernetes-316714/dostuff:latest'
        kubernetesConf {
                process.executor = 'k8s'
                k8s {
                        namespace = 'default'
                        serviceAccount = 'nextflow'
                        container = 'nextflow/nextflow'
                        workDir = '/host-data'
                }
        }
}

k8s {
        namespace = 'default'
        serviceAccount = 'nextflow'
        container = 'nextflow/nextflow'
        workDir = '/host-data'
}

trace {
        enabled = true
        file = 'trace.txt'
        fields = 'task_id,name,n_instructions,read_bytes,write_bytes,cpus'
}